* {
  box-sizing: border-box;
}

html, body, #root {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;

  background-color: red;
}

.App .spike-map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 66.7%;

  background-color: blue;
}

.App .spike-map .frames {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0.5em;

  background-color: blue;
}

.App .spike-map .frame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  width: 10px;

  background-color: grey;
}

.App .spike-map .frame .electrode {
  width: 2px;
  height: 2px;

  background-color: black;
}

.App .spike-map .frame .electrode.spike {
  background-color: white;
}

.App .spike-graph {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 33.3%;

  background-color: green;
}
